<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sofront">
    <queries>
        <package android:name="com.skt.treal.jumpvrm"/>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_ic_gymdori"
        android:label="짐꾼"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/main_ic_gymdori_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sofront"
        android:hardwareAccelerated="false">
        <activity
            android:name=".DailyRoutinePlayActivity"
            android:exported="false" />
        <activity
            android:name=".DailyRoutineDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NetworkNotConnectedActivity"
            android:exported="false" />
        <activity
            android:name=".MakePortfolioActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".PlanCollectionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PortfolioActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MakePlanActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".NumAuth"
            android:exported="false" />
        <activity
            android:name=".SignUpAuth"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailInfoActivity"
            android:exported="false" />
        <activity
            android:name=".PlanDetailViewActivity"
            android:exported="false" />
    </application>

</manifest>